.user-info {
    max-width: 800px;
    margin: 20px auto 0;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.user-info h1 h2 {
    font-size: 18px;
}

.user-info p {
    color: #666;
    line-height: 24px;
    margin-top: 4px;
}

.user-info p a {
    color: #069;
}

.user-info article a {
    height: 35px;
    border-radius: 1px;
    border: 1px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
}

.user-info article a:hover {
    background: #da552f;
    color: #fff;
}

.repo-list {
    max-width: 500px;
    margin: 15px auto 0;
    padding: 0 10px;
}

.repo-list article {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 1px;
}

.repo-url p {
    color: #069;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #666;
}

thead {
    background: #ccc;
    border-top: 1px solid #a5a5a5;
    border-bottom: 1px solid #a5a5a5;
}

tr:hover {
    background-color: #3d80df;
    color: #fff;
}

thead tr:hover {
    background-color: transparent;
    color: inherit;
}

tr:nth-child(even) {
    background-color: #edf5ff;
}

th {
    font-weight: normal;
    text-align: left;
}

th,
td {
    padding: 0.1em 1em;
}